@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");

.App {
  text-align: center;
  font-family: "Press Strt 2P", "VT323";
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-image: url("./assets/background.png");
  background-size: 100%;
}

.overlay {
  opacity: 0.85;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;

}